
/*user dashboard*/
.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.icon-box {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-content {
  padding-top: 90px; /* safe height for Bootstrap navbar */
   min-height: 100vh;
  background-color: #f8f9fa; 
   padding-bottom: 80px;
}